*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modoOscuro{
    background-color: black;
    color: white;
}
body{
    background-image: url(./images/wp10269516-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 70%;
}
.fondo{
    background-color: antiquewhite;
    
}